provider_installation {
  filesystem_mirror {
    path    = "<repo>/.terraform.d/plugins/registry.terraform.io/telmate/proxmox/3.0.1-rc9/linux_amd64/terraform-provider-proxmox_v3.0.1-rc9"
    include = ["telmate/proxmox", "hashicorp/*"]
  }
  direct {
    exclude = {exclude = ["*/*"]}
  }
}
